:root{  
    --mv: hsl(263, 55%, 52%);
    --vdgb: hsl(217, 19%, 35%);
    --vdbb: hsl(219, 29%, 14%);
    --w: hsl(0, 0%, 100%);
    --wo: hsla(0, 0%, 100%, 0.5);
    --wom: hsla(0, 0%, 100%, 0.7);
    --lg: hsl(0, 0%, 81%);
    --lgb: hsl(210, 46%, 95%);
    --mvo: hsla(263, 55%, 52%, 0.911);
    --vdbbo: hsla(217, 30%, 14%, 0.5);
    --vdbbom: hsla(217, 30%, 14%, 0.7);
    --s: hsla(0,0%,0%,0.1)
}
body{
    background-color: var(--lgb);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.contenedor{
    width: 90vw;
    max-width: 1110px;
    margin: 2rem auto 2rem auto;
    display: grid;
    column-gap: 1.95rem;
    row-gap: 1.5rem;
    grid-template-areas: "first-card first-card first-card first-card first-card first-card"
    "second-card second-card second-card second-card second-card second-card"
    "fourth-card fourth-card fourth-card fourth-card fourth-card fourth-card"
    "fifth-card fifth-card fifth-card fifth-card fifth-card fifth-card"
    "third-card third-card third-card third-card third-card third-card";
    align-content: center;
}
.contenedor .card{
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    padding: 25px 32px 32px 32px;
}
.contenedor .first-card{
    background: var(--mv) ;
    grid-area: first-card; 
    box-shadow: 10px 10px 100px var(--s);
}
.contenedor .second-card{
    background-color: var(--vdgb);
    grid-area: second-card;
    box-shadow: 10px 10px 100px var(--s);
}
.contenedor .third-card{
    background-color: var(--w);
    grid-area: third-card;
    box-shadow: 40px 20px 100px var(--s);
}
.contenedor .fourth-card{
    background-color: var(--w);
    grid-area: fourth-card;
    box-shadow: 20px 20px 40px var(--s);
}
.contenedor .fifth-card{
    background-color: var(--vdbb);
    grid-area: fifth-card;
    box-shadow: 10px 10px 100px var(--s);
}
.contenedor .img{
    width: 1.6rem;
    border-radius: 2rem;
}
.contenedor .daniel-img{
    border: 2px solid var(--lg);
}
.contenedor .jonathan-img{
    border: 2px solid var(--lgb);
}
.contenedor .kira-img{
    border: 2px solid var(--w);
}
.contenedor .jeanette-img{
    border: 2px solid var(--w);
}
.contenedor .patrick-img{
    border: 2px solid var(--mv);
}
.contenedor .header{
    display: flex;
    flex-direction: row;
}
.contenedor .first-title-white{
    margin-left: 1rem;
    font-size: 0.8rem;
    line-height: 0.2rem;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    color: var(--w);
    font-weight: 700;
}
.contenedor .first-title-dark{
    color: var(--vdbb);
    margin-left: 1rem;
    font-size: 0.8rem;
    line-height: 0.2rem;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    font-weight: 700;
}
.contenedor .second-title-white{
    margin-left: 1rem;
    font-size: 0.7rem;
    line-height: 0.2rem;
    margin-block-start: 1em;
    margin-block-end: 0;
    color: var(--wo);
}
.contenedor .second-title-dark{
    color: var(--vdbbo);
    margin-left: 1rem;
    font-size: 0.7rem;
    line-height: 0.2rem;
    margin-block-start: 1em;
    margin-block-end: 0;
}
.contenedor .first-paragraph-white{
    font-size: 1.2rem;
    color: var(--w);
    font-weight: 600;
    margin-block-start: 0.8em;
    margin-block-end: 0.4em;
    font-weight: 700;
}
.contenedor .first-paragraph-dark{
    font-size: 1.2rem;
    color: var(--vdbb);
    margin-block-start: 0.8em;
    margin-block-end: 0.4em;
    font-weight: 700;
}
.contenedor .second-paragraph-white{
    font-size: 0.8rem;
    color: var(--wom);
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    letter-spacing: 0.01rem;
    line-height: 1.1rem;
}
.contenedor .second-paragraph-dark{
    font-size: 0.8rem;
    color: var(--vdbbom);
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    letter-spacing: 0.01rem;
    line-height: 1.1rem;
}
@media screen and (min-width: 900px) {
    .contenedor{
        width: 70vw;
        grid-template-areas: "first-card first-card first-card fifth-card fifth-card fifth-card"
                             "third-card third-card third-card third-card third-card third-card"
                             "fourth-card fourth-card fourth-card second-card second-card second-card";
    }
}
@media screen and (min-width: 1250px) {
    .contenedor{
        height: 100vh;
        margin: 0 auto;
        grid-template-areas: "first-card first-card first-card first-card second-card third-card"
                             "fourth-card fifth-card fifth-card  fifth-card  fifth-card third-card";
    }
    .contenedor .third-card{
        padding: 25px 20px;
    }
}
